In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('data/tweets.csv')
df.head()

,tweet_text,emotion_in_tweet_is_directed_at,is_there_an_emotion_directed_at_a_brand_or_product
0,.@wesley83 I have a 3G iPhone. After 3 hrs twe...,iPhone,Negative emotion
1,@jessedee Know about @fludapp ? Awesome iPad/i...,iPad or iPhone App,Positive emotion
2,@swonderlin Can not wait for #iPad 2 also. The...,iPad,Positive emotion
3,@sxsw I hope this year's festival isn't as cra...,iPad or iPhone App,Negative emotion
4,@sxtxstate great stuff on Fri #SXSW: Marissa M...,Google,Positive emotion

In [14]:
tweets = df.set_axis(['tweet', 'directed', 'emotion'], axis=1, inplace=False)
tweets.head()

,tweet,directed,emotion
0,.@wesley83 I have a 3G iPhone. After 3 hrs twe...,iPhone,Negative emotion
1,@jessedee Know about @fludapp ? Awesome iPad/i...,iPad or iPhone App,Positive emotion
2,@swonderlin Can not wait for #iPad 2 also. The...,iPad,Positive emotion
3,@sxsw I hope this year's festival isn't as cra...,iPad or iPhone App,Negative emotion
4,@sxtxstate great stuff on Fri #SXSW: Marissa M...,Google,Positive emotion

In [15]:
tweets['emotion'].value_counts()

No emotion toward brand or product    5389
Positive emotion                      2978
Negative emotion                       570
I can't tell                           156
Name: emotion, dtype: int64

In [16]:
q = tweets[tweets['emotion'] == "I can't tell"]
q

                                                  tweet directed       emotion
90    Thanks to @mention for publishing the news of ...      NaN  I can't tell
102   ‰ЫП@mention &quot;Apple has opened a pop-up st...      NaN  I can't tell
237   Just what America needs. RT @mention Google to...      NaN  I can't tell
341   The queue at the Apple Store in Austin is FOUR...      NaN  I can't tell
368   Hope it's better than wave RT @mention Buzz is...      NaN  I can't tell
...                                                 ...      ...           ...
9020  It's funny watching a room full of people hold...      NaN  I can't tell
9032  @mention yeah, we have @mention , Google has n...      NaN  I can't tell
9037  @mention Yes, the Google presentation was not ...      NaN  I can't tell
9058  &quot;Do you know what Apple is really good at...      NaN  I can't tell
9066  How much you want to bet Apple is disproportio...    Apple  I can't tell

[156 rows x 3 columns]

In [19]:
non_apple = ['Android App', 'Android', 'Google', 'Other Google product or service']
tweets = tweets[(tweets['directed'] != 'Android App') & (tweets['directed'] != 'Android') & (tweets['directed'] != 'Google') & (tweets['directed'] != 'Other Google product or service')]

In [20]:
tweets['directed'].value_counts()

iPad                              946
Apple                             661
iPad or iPhone App                470
iPhone                            297
Other Apple product or service     35
Name: directed, dtype: int64